<% provide(:title, 'Home') %>
<h1>
	Sample App
</h1>
<p>
	<br>
    	This is home page of a demo app created using Ruby on Rails...
	</br>
	<br>
		I am following the tutorials from <a href="http://railstutorial.org/">Michael Hartl</a> 
	</br>
	<br>
   		The tutorial is very clear and provided in easy language too.
   	</br>
</p> 